In [ ]:
# Import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import missingno as msno
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import lazypredict
from lazypredict.Supervised import LazyClassifier

Exploring the Data

In [5]:
# Import dataset
df = pd.read_csv('Datasets/bankdata.csv')

# Head of the dataset
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Features:
1. customer_id - The unique identifier for a particular customer.
2. credit_score - A measure of creditworthiness, how reliable a lender the customer is.
3. country - Country of residence for the customer.
4. gender - Gender of customer.
5. age - Age of customer.
6. tenure - Length of time the customer has held an account with the bank.
7. balance - Amount of money present in the customer's account.
8. products_number - The number of distinct products the customer holds with the bank (both a current account, isa, etc.)
9. credit_card - Does the customer possess a credit card with the bank? (1/0)
10. active_member - Is the customer actively using the bank's services?
11. estimated_salary - Estimated total income of the customer.
12. churn - Did the customer churn? (1/0) - Target Variable

Excluding customer_id, it appears we have 10 potential predictor variables that we can utilise in a model to predict the variable churn.

Descriptive Statistics:

In [8]:
df.describe()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [9]:
df.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

Through analysis of the descriptive statistics above, 20% of the customer pool of 10000 have churned. We also have no N/A variables so there is no need to clean data here or impute any variables.

In [24]:
# What countries are our customers from?
df['country'].unique()
df.groupby('gender').count()

TypeError: count() takes 1 positional argument but 2 were given